[submodule "extern/CGAL"]
	path = extern/CGAL
	url = https://github.com/CGAL/cgal.git
	branch = 5.6.x-branch

[submodule "extern/pybind11"]
	path = extern/pybind11
	url = https://github.com/pybind/pybind11.git

[submodule "extern/ompl"]
	path = extern/ompl
	url = https://github.com/ompl/ompl.git

[submodule "extern/tracy"]
	path = extern/tracy
	url = https://github.com/wolfpld/tracy.git
