# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

cmake-build*/
build
.idea
release
Results_*/
# Results/
scripts/path*.py
scripts/*.png
scripts/manim_vis/__pycache__/
scripts/manim_vis/media/
.cache/
rvg.egg-info/
Configs-backup

